[submodule "extern/capstone"]
	path = extern/capstone
	url = https://github.com/aquynh/capstone.git

[submodule "extern/cxxopts"]
	path = extern/cxxopts
	url = https://github.com/jarro2783/cxxopts.git

[submodule "extern/retdec"]
	path = extern/retdec
	url = https://github.com/avast/retdec.git